<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xy.simple_accountbook.bill.mapper.CategoryMapper">
    <resultMap id="categoryResultMap" type="com.xy.simple_accountbook.bill.entity.CategoryEntity">
        <id column="id" property="id"/>
        <result column="u_id" property="uId"/>
        <result column="type" property="type"
                typeHandler="com.xy.simple_accountbook.bill.handler.CategoryTypeHandler"/>
        <result column="title" property="title"/>
        <result column="icon" property="icon"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <resultMap id="categoryVOResultMap" type="com.xy.simple_accountbook.bill.entity.vo.CategoryVO">
        <id column="id" property="id"/>
        <result column="u_id" property="uId"/>
        <result column="type" property="type"
                typeHandler="com.xy.simple_accountbook.bill.handler.CategoryTypeHandler"/>
        <result column="title" property="title"/>
        <result column="icon" property="icon"/>
        <result column="enable" property="enable"/>
        <result column="sort" property="sort"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="findCategoryById" resultMap="categoryResultMap">
        SELECT id, u_id, title, icon,type, create_time, update_time
        FROM category
        WHERE id = #{id}
    </select>

    <select id="queryDefaultCategories"
            resultMap="categoryResultMap">
        SELECT id, u_id, title, icon, type, create_time, update_time
        FROM category
        WHERE u_id IS NULL
        ORDER BY id ASC
    </select>

    <select id="queryByIds" resultMap="categoryResultMap">
        SELECT id, u_id, type, title, icon, create_time, update_time
        FROM category
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="queryUserCategories" resultMap="categoryVOResultMap">
        SELECT c.id, c.title, c.icon, c.type, u_c.enable, u_c.sort
        FROM user_category u_c
        INNER JOIN category c ON u_c.category_id = c.id
        WHERE u_c.u_id = #{userId}
        ORDER BY u_c.sort ASC
    </select>

    <update id="batchUpdateCategory">
        UPDATE category
        SET title = CASE id
        <foreach collection="categoryList" item="item">
            WHEN #{item.id} THEN #{item.title}
        </foreach>
        END,
        icon = CASE id
        <foreach collection="categoryList" item="item">
            WHEN #{item.id} THEN #{item.icon}
        </foreach>
        END
        WHERE id IN
        <foreach collection="categoryList" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </update>
</mapper>
